:root {
--bodycolor: #ebf8fa;
--textcolor: rgba(30, 31, 31, 0.897);
--antialiased: antialiased;

}

.antialiased {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

body {
    margin: 0;
}